@import"../../App.scss";

.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
   
  
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      background: linear-gradient( to bottom,
      rgba($color-black, .2),
      rgba($color-black, .6))
    }
  
    & Video {
      min-width: 100%;
      height: 100%;
      object-fit: cover;
      background-position: center;
    }

    &__textBox {
      position: absolute;
      width: 90%;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 20; 
    
    }
  
    &__buttonBox{
      position: absolute;
      z-index: 20;
      bottom: 25%;
      left: 52%;
      transform: translate(-50%, -50%);

    }
// gradient triangle
    &__overlay {
      position: absolute;
      left:0%;
      bottom: 0;
      width: 75%;
      height: 90vh;
      background-color: black;
      z-index: 10;
      -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%);
      clip-path: polygon(0 0, 0 100%, 100% 100%);
      background-color: $color-black;
      background-image: linear-gradient(115deg, $color-black 0%, $color-primary 54%);
      
    }
  
    
  }
  
  .main__heading{
    text-transform: uppercase;
    color:$color-white;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    font-family: 'Sedgwick Ave Display', cursive, serif;
    font-size: 10rem;

    // style Mate
    &__span{
      font-size: 12rem; 
  background-color: $color-primary;/* Fallback: Set a background color. */
  background-image: linear-gradient(45deg,$color-white, $color-primary );
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
    }
  

  
  
  }