@import"../../../App.scss";

.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 40%;
    max-height: 95rem;
    padding: 1rem;
    background-color: rgba($color-primary-dark, 0.7);
    box-shadow: 0 4px 2px 2px $color-black;

    @media only screen and (max-width: 1020px) {
        width: 100%;
    }

 input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    margin-bottom: 2rem;
    border-bottom: 1px solid $color-grey-dark-2;
    font-size: 2rem;
    text-align: center;
    color: $color-white;
    font-family: 'Cinzel Decorative', cursive;

    @media only screen and (max-width: 375px) {
          font-size: .99rem;
      }

 }

 
 ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
}

  
 
  