@import"../../../App.scss";

.lyrics{
    height: 100vh;
    padding: 0 17% 10% 17%;
    background:   linear-gradient( to bottom,
    rgba($color-primary,.3),
    rgba($color-primary,.6)),url('../../../assets/img/microphone-675960.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: auto;

    &__card{
        margin-top: 5rem;
        background-color: rgba($color-primary-dark, 0.7);
        box-shadow: 0 4px 2px 2px $color-black;
        text-align: center;
        font-family: 'Cinzel Decorative', cursive;
        color: $color-white;
    }

    &__header{
        padding: 3rem;
        font-size: 3rem; 
        border-bottom: 1px solid $color-grey-dark-2;

        &__secondary{
            margin-left: 1rem;
            font-size: 1.5rem;
            font-weight: 300;
        color: rgba(pink, 0.8);
        }
    }

    &__body{
        padding: 3rem;
        font-size: 1.5rem; 
        line-height: 3rem;
        letter-spacing: 2px;
        background: linear-gradient( to bottom,
        rgba($color-black, .2),
        rgba($color-black, .6))
    }
&__list{
    background-color: rgba($color-primary-dark, 0.7);
    font-size: 2rem;
    list-style-type: none;
    color: $color-white;
    border-bottom: 1px solid $color-grey-dark-2;
    text-align: center;
}

}


