@import"../../App.scss";

.SBindex {
    height: 100%;
    padding: 0 17% 10% 17%;
    background:   linear-gradient( to bottom,
    rgba($color-primary,.3),
    rgba($color-primary,.6)),url('../../assets/img/woman.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: 500;
    color: $color-white;
  }
  
  .SBindex-playlist {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  @media only screen and (max-width: 1020px) {
    .SBindex-playlist {
      align-items: center;
      flex-direction: column;
    }
  }