@import"../../../App.scss";

.LyricsResults {
    width: 60%;
    height: 95rem;
    margin-right: 2rem;
    overflow-y: scroll;
    padding: 1rem;
    background-color: rgba($color-primary-dark, 0.7);
    box-shadow: 0 4px 2px 2px $color-black;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;

    &__title{
      font-size: 3rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid $color-grey-dark-2;
       color: $color-white;
  
  }
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .SearchResults {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  