@import "../../App.scss";

.footer{
width: 20rem;
height: 18rem;
// background-color: rgba($color-white, 0.2);


-webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
clip-path: polygon(0 0, 0% 100%, 100% 100%);
position: absolute;
bottom: 0%;
left: 0%;
z-index: 10;

&__icons{
    position: absolute;
    bottom:0%;
    left: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   grid-gap: 1rem;
   margin: 1rem auto;



    &__links{
        color: $color-white;
        // font-size: 4rem;
    }
}


}